@font-face {
  font-family: 'Kiona';
  src: url('../fonts/kiona_2/Kiona-Regular.ttf') format('truetype'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Sustans';
  src: url('../fonts/sustans-typeface/Sustans.ttf') format('truetype'); /* IE9 Compat Modes */
}
.cardmain {
  max-width: 25em;
  max-height: 25em;
  text-align: center;
  text-shadow: 10px 20px 0 40px, #000;
  position: absolute;
  top: 35%;
  left: 65%;
}

.cardmaintext {
  font-family: 'Kiona',sans-serif;
  font-weight: 400;
  font-size: 2.5em;
  text-align: center;
  color: #f2f2f2;
}
