body {
  background: none;
  margin: 0;
  min-height: 100vh;
  font-family: Oxygen, sans-serif;
  color: #fff;

}

#marsloc {
  cursor: -webkit-grab;
  cursor: grab;

  position: fixed;
}

#marsinfo {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 2rem;
}

#marsinfo h1 {
  font-size: 8vw;
  margin-top: 0;
  font-weight: 100;
  line-height: 1;
  position: absolute;
}

#marsinfo div {
  width: 40%;
  position: absolute;
  background-color: none;
  right: 0;
  padding: 1.3rem;
  line-height: 1.6;
  font-size: 1.2rem;
  pointer-events: none;
}
@media all and (max-width: 540px) {
  #marsinfo div {
    width: 100%;
    left: 0;
    top: 40vw;
  }
}
